<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @record.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @record.type %>
</p>

<p>
  <strong>Oblast:</strong>
  <%= @record.oblast %>
</p>

<p>
  <strong>Rayon:</strong>
  <%= @record.rayon %>
</p>

<p>
  <strong>Sovet:</strong>
  <%= @record.sovet %>
</p>

<p>
  <strong>Pynkt:</strong>
  <%= @record.pynkt %>
</p>

<p>
  <strong>Street:</strong>
  <%= @record.street %>
</p>

<p>
  <strong>House:</strong>
  <%= @record.house %>
</p>

<p>
  <strong>Korpus:</strong>
  <%= @record.korpus %>
</p>

<p>
  <strong>Post index:</strong>
  <%= @record.post_index %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @record.latitude %>
</p>

<p>
  <strong>Longtitude:</strong>
  <%= @record.longtitude %>
</p>

<p>
  <strong>Description:</strong>
  <%= @record.description %>
</p>

<p>
  <strong>Purpose:</strong>
  <%= @record.purpose %>
</p>

<p>
  <strong>Firewall:</strong>
  <%= @record.firewall %>
</p>

<p>
  <strong>Proxy:</strong>
  <%= @record.proxy %>
</p>

<p>
  <strong>Vpn:</strong>
  <%= @record.vpn %>
</p>

<p>
  <strong>Antivirus:</strong>
  <%= @record.antivirus %>
</p>

<p>
  <strong>Technology:</strong>
  <%= @record.technology %>
</p>

<p>
  <strong>Speed:</strong>
  <%= @record.speed %>
</p>

<p>
  <strong>Connection phone:</strong>
  <%= @record.connection_phone %>
</p>

<p>
  <strong>Ce:</strong>
  <%= @record.ce %>
</p>

<p>
  <strong>Pe:</strong>
  <%= @record.pe %>
</p>

<p>
  <strong>Ipadress:</strong>
  <%= @record.ipadress %>
</p>

<p>
  <strong>Visibility:</strong>
  <%= @record.visibility %>
</p>

<p>
  <strong>Contact phone:</strong>
  <%= @record.contact_phone %>
</p>

<p>
  <strong>Tarifff:</strong>
  <%= @record.tarifff %>
</p>

<p>
  <strong>Provider:</strong>
  <%= @record.provider %>
</p>

<p>
  <strong>Details:</strong>
  <%= @record.details %>
</p>

<%= link_to 'Edit', edit_record_path(@record) %> |
<%= link_to 'Back', records_path %>
